
/*@import url(https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap);
body {
 font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
      
}
*/
header{
background: #F6C7B7;
}

#primera {
background: #F7A398;
}

#principal {
background: #F7A398;
width:auto;
height:auto;
margin-top: 50px;
margin-bottom:50px;
border-color:#F7A398;

}

.fin {
    background: #b42529;
    background-color:#B42529 ;
    margin-top:50px;
    margin-bottom:20px;
}

footer {
    width: 100%;
    padding: 50px 0px;
}

a {
    color: #7a7a7a; 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
a:hover {
    opacity: 0.5;
}
.col.centro { 
    background: #FA7F77;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

#Productos {
    margin-top: 10px ;
    margin-bottom: 50px;
}
.dos {
    margin: 5px;
    border: 5px;
}
#brand {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
}
.fb {
    width: 15px;
    height: 15px;
}
.inst {
    width:15px;
    height:15px;
}
.twt {
    width:15px;
    height:15px;
    align-content:flex-start;
}
#Procedimientos {
    padding-left: 0rem;
}